.article {
    margin-top: 20px;
    @include pc-layout {
        display: flex;
        flex-wrap: wrap;
    }
}

.article__item {
    margin: 20px;
    padding: 20px;
    background-color: #111;
    border: solid 1px #333;
    a {
        color: inherit;
    }
    @include pc-layout {
        margin-top: 0px;
        margin-right: 0px;
        width: 300px;
    }
}